[submodule "vins_fusion_ros2"]
	path = vins_fusion_ros2
	url = https://github.com/BoltonAthitDavies/vins_fusion_ros2.git
	branch = wil
[submodule "aws-robomaker-small-warehouse-world"]
	path = aws-robomaker-small-warehouse-world
	url = https://github.com/BoltonAthitDavies/aws-robomaker-small-warehouse-world.git
	branch = gz-sim-fortress
[submodule "rtabmap_ros"]
	path = rtabmap_ros
	url = https://github.com/BoltonAthitDavies/rtabmap_ros.git
	branch = ros2
[submodule "thirdparty/ORB_SLAM3"]
	path = thirdparty/ORB_SLAM3
	url = https://github.com/BoltonAthitDavies/ORB_SLAM3.git
	branch = wil
[submodule "thirdparty/Pangolin"]
	path = thirdparty/Pangolin
	url = https://github.com/stevenlovegrove/Pangolin.git
